/* ESTILOS PROPIOS */
@font-face {
	font-family: 'Lato-Black';
	src: local('Lato-Black'),
		url('../fonts/Lato-Black.ttf');
}
@font-face {
	font-family: 'Lato-Regular';
	src: local('Lato-Regular'),
		url('../fonts/Lato-Regular.ttf');
}

.titulo{
	font-family: 'Lato-Black';
	color: #ffba00;
	letter-spacing: 3px;
	text-align: left;
	vertical-align: middle;
}

.texto{
	font-family: 'Lato-Regular';
	color: #ffba00;
	letter-spacing: 3px;
	text-align: center;
	vertical-align: middle;
}


/* PLANTILLA BASE */
/* Este es para hacer el fondo negro*/
body{
	background-image: url(../img/fondogrande.jpg);
}


/* Header */
/* Este es para el agregar el estilo de letra que descargue */
@font-face {
    font-family: 'Montserrat-Black';
    src: local('Montserrat-Black'),
    	url('../fonts/Montserrat-Black.ttf');
}

#nombre{
	font-family: 'Montserrat-Black';
	color: #eeff00;
	letter-spacing: 3px;
	text-align: right;
	vertical-align: middle;
}

/* Navbar - usuario conectado */
#usuario{
  color: #FF8C00;
}


/* Botones en navbars */
/* Ubico el contenedor con los botones a la derecha*/
.container_btn{
	right: 0px;
}

/* FORMULARIO LOGIN */
#login_card{
	margin-top: 2.5rem;
}

/* FORMULARIO REGISTRO */
#registro_card{
	margin-top: 2.5rem;

}
#registro_contenido{
	margin: auto;
    padding: 2rem;

}

/* INFORMACIÓN */
h1{
    margin: auto;
  }

#contenido_carrousel{
  position: relative;
  max-width: 800px;
  left: 25%;
  right: 25%;
  top: 10%;
}

#carouselBasicExample{
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;   
}

#cont_bioseguridad{
  margin: auto;
}

/* CONTACTO */
#contacto_container{
	color: #D4B9B9;
}

.separador{
	border: 1px solid red;
}

#btn_comentario{
	position: relative;
	left: 75%;
}

#lista_contacto{
	border-left: 5px solid red;
  	list-style-type: none;

}


/* PERFIL DE USUARIO */



#perfil{
  margin-top: 30px;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
}

.circular-square {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
  border-style: solid;
  border-color: #ffc107;
}

.datos_user{
  display: inline;
  padding-left: 10rem;
}

/* 2- Turno */


#raw_horario::after {
  content: "";
  clear: both;
  display: table;
}

#dias {
  float: right;
}

#horas {
  float: right;
}

#horario_contenido{
  margin: auto;
  padding: auto;
  overflow-x: auto;
  width: 80%;
  max-width: 1000px;
  overflow: auto;
}

/* CALL_SOLICITUD --> solicitar_turno */

#dias {
  float: right;
}

#horas {
  float: right;
}

#horario_contenido{
  margin: auto;
  padding: auto;
  overflow-x: auto;
  width: 80%;
  max-width: 1000px;
}

#actividades{
  margin: auto;
  padding: auto;
  
}