/* ESTILOS PROPIOS */
@font-face {
	font-family: 'Lato-Black';
	src: local('Lato-Black'),
		url('../fonts/Lato-Black.ttf');
}
@font-face {
	font-family: 'Lato-Regular';
	src: local('Lato-Regular'),
		url('../fonts/Lato-Regular.ttf');
}

.titulo{
	font-family: 'Lato-Black';
	color: #ffba00;
	letter-spacing: 3px;
	text-align: left;
	vertical-align: middle;
}

.texto{
	font-family: 'Lato-Regular';
	color: #ffba00;
	letter-spacing: 3px;
	text-align: center;
	vertical-align: middle;
}



/* PLANTILLA BASE */
/* Este es para hacer el fondo negro*/
body{
	background-image: url(../img/fondogrande.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	display: flex; 
}


/* Header */
/* Este es para el agregar el estilo de letra que descargue */
@font-face {
    font-family: 'Montserrat-Black';
    src: local('Montserrat-Black'),
    	url('../fonts/Montserrat-Black.ttf');
}

#nombre{
	font-family: 'Montserrat-Black';
	color: #eeff00;
	letter-spacing: 3px;
	text-align: right;
	vertical-align: middle;
}

/* Botones en navbars */
/* Ubico el contenedor con los botones a la derecha*/
.container_btn{
	right: 0px;
}


/* PLANTILLA REGISTRO */
/* Contenedor del formulario */
.container_form{
	margin-top: 25px;
    margin-right: 100px;
    margin-bottom: 70px;
    margin-left: 100px;
	padding: 20px;
	background: #f8f9fa;
}

	margin: 25px 50px 75px 100px;
	padding: 70px;
	background: #f8f9fa;
}
