{% extends 'dashboard.html' %}
{% load static %}
{% block titulo %}Solicitar Turno{% endblock titulo %}

{% block contenido %}

{% block boton_turno %}          
<div class="btn-group btn-group-lg" role="group" aria-label="Prev-Next">
 
 <a href="{% url 'turno' %}" 
             class="btn btn-outline-success" 
             role="button" 
            aria-pressed="true">&laquo;  Mis Turnos</a>

</div>
{% endblock boton_turno %}


{% block horario %}
	{% include 'solicitar_turno.html' %}
{% endblock horario %}

{% endblock contenido %}