{% extends 'base.html' %}
{% load static %}
{% block titulo %}LOGIN{% endblock titulo %}


<!-- Los botones del Navbar cambian acá -->
{% block botones %} {% endblock botones %}


{% block contenido %} 
<style>
  h1{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%) translateY(-50%);
  }
  h2{
    text-align:center;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
  }
  p1{
    text-align: center;
    position:absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) ;
  }
  p2{
    text-align: center;
    position:absolute;
    left: 0%;
    top: 100%;
    transform: translateX(-50%);
  }
  p3{
    text-align: center;
    left: 250%;
    position:absolute;
    top:8%;
    ;
  }
  p4{
    text-align: center;
    left: 250%;
    position:absolute;
    top: 0%;
  }
  p5{
    position:absolute;
    top: 100%;
    left: 10%;
}
</style>
<h1 class="titulo">NUESTRAS ACTIVIDADES</h1>

<p1 class="texto">
<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselBasicExample" 
        data-slide-to="0" 
        class="active">
    </li>
    <li data-target="#carouselBasicExample" 
        data-slide-to="1">
    </li>
    <li data-target="#carouselBasicExample" 
        data-slide-to="2">
    </li>
  </ol>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <p>
        <center>
          FUNCIONAL
        </center>
      </p>
      <p>
        <center>entrenamiento personalizado 
        centrado en tus metas y 
        destinado a mejorar tu calidad de vida</center>
       </p>
      <img src="{% static 'img/funcional1.jpg' %}"
           class="d-block w-100"
           alt="actividad"/>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <p>
        <center>
          SPINNING
        </center>
      </p>
      <p>
        <center>
          Trabajo aeróbico de alta intensidad sobre bicicleta fija, coreografiado
        </center>
      </p>
      <img src="{% static 'img/spinning1.jpg' %}"
        class="d-block w-100"
        alt="actividad"/>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <p>
        <center>
          MUSCULACION
        </center>
      </p>
      <p>
        <center>
          Se busca no sólo moldear la figura, sino lograr un estado totalmente saludable
        </center>
      </p>
      <img src="{% static 'img/musculacion1.jpg' %}"
        class="d-block w-100"
        alt="actividad"/>
    </div>


    <div class="carousel-item">
      <p>
        <center>
          MUSCULACION
        </center>
      </p>
      <p>
        <center>
          Se busca no sólo moldear la figura, sino lograr un estado totalmente saludable
        </center>
      </p>
      <img src="{% static 'img/musculacion1.jpg' %}"
        class="d-block w-100"
        alt="actividad"/>
    </div>


    <div class="carousel-item">
      <p>
        <center>
          ZUMBA
        </center>
      </p>
      <p>
        <center>
          Cada clase de Zumba está diseñada para juntarnos a bailar y sudar
        </center>
      </p>
      <img src="{% static 'img/zumba.jpg' %}"
      class="d-block w-100"
      alt="actividad"/>
    </div>
  </div>

  <!-- Inner -->

  <!-- Controls -->
  <a class="carousel-control-prev"
     href="#carouselBasicExample"
     role="button"
     data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next"
     href="#carouselBasicExample"
     role="button"
     data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>


<div>
  <br><br>
  <h2>PROTOCOLOS DE BIOSEGURIDAD</h2>
  <p>
  <center>¡Tu bienestar es lo primero! Por eso, cuando vengas a entrenar, 
    recuerda las siguientes medidas para disfrutar del gimnasio con seguridad.</center>
    </p>
</div>
<p5>
<div>
<p2>
<div>
  <br><br><br><br>
  <img src="{% static 'img/icons/bioseguridad.png' %}">
  <p>Agenda previamente tu día y horario de entrenamiento.</p>
  <div>
    <img src="{% static 'img/icons/shoes.png' %}">
    <p>Higieniza tu calzado en el tapete<br>
       especial a la entrada de la sede.</p>
  </div>
  <div>
    <img src="{% static 'img/icons/temperatura.png' %}">
    <p>Toma de temperatura al ingresar a<br>
      la sede. Quienes presenten<br>
      registros iguales o superiores a<br>37,5, no podrán ingresar.</p>
  </div>
  <div>
    <img src="{% static 'img/icons/higiene.png' %}">
    <p>Higienización de espacios después <br>
      de cada grupo de entrenamiento.</p>
  </div>
</div>
<p3>
<div>
  <img src="{% static 'img/icons/bebederos.png' %}">
  <p>Los bebederos estarán desactivados. Por favor trae tu termo o botella de agua.</p>
  <div>
    <img src="{% static 'img/icons/toalla.png' %}">
    <p>Para el ingreso debes traer tu toalla personal por requerimiento gubernamental.</p>
  </div>
  <div>
    <img src="{% static 'img/icons/alcohol.png' %}"
    <p>Mantendremos disponible alcohol en gel en puntos específicos de la sede.</p>
  </div>
    <div>
      <img src="{% static 'img/icons/fuertes.png' %}"
      <p>Nuestra principal motivación es cuidar tu salud. Juntos somos más fuertes.</p>
    </div>
</div>
<p4>
<div>
  <img src="{% static 'img/icons/barbijo.png' %}">
  <p>Para el ingreso y todo tu entrenamiento debes tener tapabocas por requerimiento gubernamental.</p>
  <div>
    <img src="{% static 'img/icons/manos.png' %}">
    <p>Lava bien tus manos con agua y<br>
       jabón, luego aplícate alcohol<br>
       glicerinado al 70%. No compartas tus objetos personales.</p>
  </div>
  <div>
    <img src="{% static 'img/icons/operacion.png' %}">
    <p>Operación con una cantidad reducida de equipos para respetar la distancia entre personas.</p>
  </div>
</div>
</div>
{% endblock contenido%}
