{% extends 'base.html' %}
{% load static %}
{% block titulo %}LOGIN{% endblock titulo %}


<!-- Los botones del Navbar cambian acá -->
{% block botones %} 

{% endblock botones %}


{% block contenido %} 
<div class="container">
	<div class="raw">
	<div class="card">
		<div class="card-body"> 
			<form method="POST" class="form-group">
				{% csrf_token %}
				{{ form.error }}
				<div class="raw">
					<div class="col-md-6">
						<label for="{{ form.username.id_for_label }}">Usuario:</label>		
					</div>
				</div>
				<div class="raw">
					<div class="col">
						{{ form.username }}		
					</div>
				</div>
				<br>
				<div class="raw">
					<div class="col-md-6">
						<label for="{{ form.password.id_for_label }}">Contraseña:</label>		
					</div>
				</div>
				<div class="raw">
					<div class="col">
						{{ form.password }}				
					</div>
				</div>
				<br>
				<br>
				<div class="container inline">
					<button type="submit" 
							class="btn btn-outline-success float-right">Ingresar</button>
					<a href="{% url 'index' %}" 
	       				class="btn btn-danger" 
	       				role="button" 
	       				aria-pressed="true">Cancelar</a>
       			</div>
			</form>
		</div>
	</div>
	</div>
</div>

{% endblock contenido%}
