<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de usuario</title>
</head>
<body>

    <p>Actividades</p>
    <p>Horarios</p>
    <p>etc...</p>
    <a href="{% url 'logout' %}">Cerrar sesion</a>
<div>
    <div>
        <ul>
            {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="{% url 'perfil'%}?next={{request.perfil}}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login'%}?next={{request.login}}">Login</a></li>
            {% endif %} 
        </ul>
    </div>
</div>
</body>
</html>