
{% load static %}

<div class="card" id="perfil">
    <div class="card-header">
        <h1 class="titulo text-center"> ¡Bienvenido {{ user.get_username }}! </h1>
    </div>
    <div class="card-body">
        <img class="circular-square" 
            src="#link_imagen" alt="Avatar" style="width:200px">
        </img>
        <ul class="list-group">
            <li class="list-group-item"> 
                <img src="{% static 'img/icons_userdata/user.svg' %}" style="width: 2.5rem; height: 2.5rem;">
                {{ user.nombre }}
                <span> {{ user.apellido}}</span>
            </li>
            <li class="list-group-item">
                <img src="{% static 'img/icons_userdata/dni.svg' %}" style="width: 2.5rem; height: 2.5rem;">
             {{ user.dni}} 
            </li>
            <li class="list-group-item">
                <img src="{% static 'img/icons_userdata/calendario.svg' %}" style="width: 2.5rem; height: 2.5rem;">
                 {{ user.fecha_nacimiento}} 
            </li>
            <li class="list-group-item">
                <img src="{% static 'img/icons_userdata/correo.svg' %}" style="width: 2.5rem; height: 2.5rem;">
                {{ user.email}} 
            </li>
            <li class="list-group-item">
                <img src="{% static 'img/icons_userdata/tel.svg' %}" style="width: 2.5rem; height: 2.5rem;">
                {{ user.telefono}}
            </li>
        </ul>
    </div>
  </div>

