{% extends 'base.html' %}
{% load static %}
{% block titulo %}FECHAS{% endblock titulo %}

{% block contenido %}
{% if lista_turnos %}
<h5 class="titulo">Fechas disponibles para {{ lista_turnos.0.actividad|upper }}:</h5>
<div>
    {% for turno in lista_turnos %}
    <li class="texto">
        <a class="texto" href="{% url 'ver_horarios' turno.actividad turno.fecha %}">
            {{ turno.fecha|date:"l d/m/Y" }}
        </a>
    </li>
    {% endfor %}
</div>
{% else %}
<h5 class="titulo">NO HAY FECHAS DISPONIBLES PARA ESTA ACTIVIDAD</h5>
{% endif %}
{% endblock contenido%}